.stats {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 60px;
  margin: 0;
  width: 100%;
}

.stat-item {
  text-align: center;
}

.stat-item h3 {
  font-size: 36px;
  font-weight: bold;
  color: #f39c12;
  margin-bottom: 10px;
}

.stat-item p {
  color: #666;
  font-size: 16px;
}